footer
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js',type="application/javascript")
	script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js',type="application/javascript")
	script(src='/js/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.js',type="application/javascript")
	script(src='/js/libs/jquery/jquery.mousewheel.min.js',type="application/javascript")
	script(src='/js/tweaks.js',type="application/javascript")
	block scripts