footer
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js',type="application/javascript")
	script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js',type="application/javascript")
	script(src='/js/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.js',type="application/javascript")
	script(src='/js/libs/jquery/jquery.mousewheel.min.js',type="application/javascript")
	script(src='/js/libs/jwysiwyg/jquery.wysiwyg.js',type="application/javascript")
	script(src='/js/libs/jwysiwyg/controls/wysiwyg.image.js',type="application/javascript")
	script(src='/js/libs/jwysiwyg/controls/wysiwyg.link.js',type="application/javascript")
	script(src='/js/libs/jwysiwyg/controls/wysiwyg.table.js',type="application/javascript")
	script(src='/js/tweaks.js',type="application/javascript")
	script(src='/js/core.js')
	script(src='/js/modules/socket.js')
	block scripts
	script(src='/js/bootstrap.js')