head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName + ' - ' + title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="description", content="")

  link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Marvel:400,700,400italic,700italic|Open+Sans:400,300,600', type='text/css')
  link(rel='stylesheet', href='/css/main.css')

  
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')