domain = "http://localhost:3000"
@font-face
	font-family 'ostrich_sans_roundedmedium'
	font-weight normal
	font-style normal
	src url(domain'/fonts/ostrich-rounded-latin-webfont.eot')
	src url(domain'/fonts/ostrich-rounded-latin-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/ostrich-rounded-latin-webfont.woff') format('woff'),
		url(domain'/fonts/ostrich-rounded-latin-webfont.ttf') format('truetype'),
		url(domain'/fonts/ostrich-rounded-latin-webfont.svg#ostrich_sans_roundedmedium') format('svg')

@font-face
	font-family 'FontAwesome'
	font-weight normal
	font-style normal
	src url(domain'/fonts/fontawesome-webfont-62877.eot')
	src url(domain'/fonts/fontawesome-webfont-0.eot#iefix&v=3.0.1') format('embedded-opentype'),
		url(domain'/fonts/fontawesome-webfont-62877.woff') format('woff'),
		url(domain'/fonts/fontawesome-webfont-62877.ttf') format('truetype')

@font-face
	font-family 'Marvel'
	font-style normal
	font-weight 400
	src url(domain'/fonts/marvel-regular-webfont.eot')
	src url(domain'/fonts/marvel-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/marvel-regular-webfont.woff') format('woff'),
		url(domain'/fonts/marvel-regular-webfont.ttf') format('truetype'),
		url(domain'/fonts/marvel-regular-webfont.svg#marvelregular') format('svg')

@font-face
	font-family 'Marvel'
	font-style normal
	font-weight 700
	src url(domain'/fonts/marvel-bold-webfont.eot')
	src url(domain'/fonts/marvel-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/marvel-bold-webfont.woff') format('woff'),
		url(domain'/fonts/marvel-bold-webfont.ttf') format('truetype'),
		url(domain'/fonts/marvel-bold-webfont.svg#marvelbold') format('svg')

@font-face
	font-family 'Marvel'
	font-style italic
	font-weight 400
	src url(domain'/fonts/marvel-italic-webfont.eot')
	src url(domain'/fonts/marvel-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/marvel-italic-webfont.woff') format('woff'),
		url(domain'/fonts/marvel-italic-webfont.ttf') format('truetype'),
		url(domain'/fonts/marvel-italic-webfont.svg#marvelitalic') format('svg')

@font-face
	font-family 'Marvel'
	font-style italic
	font-weight 700
	src url(domain'/fonts/marvel-bolditalic-webfont.eot')
	src url(domain'/fonts/marvel-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/marvel-bolditalic-webfont.woff') format('woff'),
		url(domain'/fonts/marvel-bolditalic-webfont.ttf') format('truetype'),
		url(domain'/fonts/marvel-bolditalic-webfont.svg#marvelbold_italic') format('svg')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src url(domain'/fonts/opensans-light-webfont.eot')
	src url(domain'/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/opensans-light-webfont.woff') format('woff'),
		url(domain'/fonts/opensans-light-webfont.ttf') format('truetype'),
		url(domain'/fonts/opensans-light-webfont.svg#open_sanslight') format('svg')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src url(domain'/fonts/opensans-regular-webfont.eot')
	src url(domain'/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/opensans-regular-webfont.woff') format('woff'),
		url(domain'/fonts/opensans-regular-webfont.ttf') format('truetype'),
		url(domain'/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src url(domain'/fonts/opensans-semibold-webfont.eot');
	src url(domain'/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url(domain'/fonts/opensans-semibold-webfont.woff') format('woff'),
		url(domain'/fonts/opensans-semibold-webfont.ttf') format('truetype'),
		url(domain'/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg')