input
	border-radius 5px
	font-family opensans
	font-size 16px
	background light-grey-color
	appearance none
	box-shadow inset 0 2px 0px darken(light-grey-color,10)
	border none
	padding 8px 10px
	letter-spacing -1px
	&:focus
		background white
		outline none