@import 'nib'
@import 'nib/gradients'

global-reset()
main-color = #8a25cd
light-grey-color = #f1f1f1
main-grey-color = #555
background-color = #e9e9e9
side-font-color = #1d1d1d
green-color = #4adb76
red-color = #e7635e
facebook-color = #3a5a93
twitter-color = #18aacf
google-color = #1f1f1f
marvel = 'Marvel', sans-serif
opensans = 'Open Sans', sans-serif
ostrich = 'ostrich_sans_roundedmedium', sans-serif
iconfont = 'FontAwesome', "Open Sans", sans-serif

@import fonts

@import icons

@import buttons

@import forms

triangles(color=background-color,size="18px")
	background -o-linear-gradient(-45deg, transparent 25%, transparent 25%) -50px 0,
		-o-linear-gradient(-135deg, transparent 25%, transparent 25%) -50px 0,
		-o-linear-gradient(-225deg, color 25%, transparent 25%),
		-o-linear-gradient(45deg, color 25%, transparent 25%)
	background -moz-linear-gradient(-45deg, transparent 25%, transparent 25%) -50px 0,
		-moz-linear-gradient(-135deg, transparent 25%, transparent 25%) -50px 0,
		-moz-linear-gradient(-225deg, color 25%, transparent 25%),
		-moz-linear-gradient(45deg, color 25%, transparent 25%)
	background -webkit-linear-gradient(-45deg, transparent 25%, transparent 25%) -50px 0,
		-webkit-linear-gradient(-135deg, transparent 25%, transparent 25%) -50px 0,
		-webkit-linear-gradient(-225deg, color 25%, transparent 25%),
		-webkit-linear-gradient(45deg, color 25%, rgba(255, 255, 255, 0) 25%)
	background-size size size
	background-color transparent

body
	font-size 62.5%
	font-family "Arial","sans-serif"
	margin 0
	padding 0
	background url("../img/watermark.png") center center no-repeat background-color fixed

header#left-header
	h1#logo
		background: url('../img/logo.png') left top no-repeat
		display inline-block
		width 180px
		height 60px
		text-indent -500px
		overflow hidden
		margin 10px 0 10px 10px
		padding 0 20px 0 0
		vertical-align middle
	section#user-info
		border-left 1px solid darken(background-color,5)
		display inline-block
		vertical-align middle
		figure
			border-left 1px solid lighten(background-color,5)
			display inline-block
			width 50px
			height 50px
			margin 0
			padding 0 20px 0 20px
			text-align center
			.add-image 
				cursor pointer
				color white
				display inline-block
				line-height 50px
				background main-color
				width 50px
				&:hover
					background lighten(main-color,10)

		div.info
			display inline-block
			vertical-align middle
			ul
				display inline-block
				border-radius 5px
				overflow hidden
				margin 0 10px
				vertical-align middle
				li
					display inline-block
					background white
					vertical-align middle
					a
						text-decoration none
						.icon
							color darken(background-color,10)
							cursor pointer
							line-height 22px
							font-size 14px
							padding 0 5px
							&:hover
								color main-grey-color
				li + li
					border-left 1px solid #DDD
			h2
				display inline-block
				font-family ostrich
				font-size 32px
				color main-color
				vertical-align middle

			p
				font-family marvel
				font-size 20px
				margin 3px 0
				a
					text-decoration none
					color main-grey-color
					&:hover
						color lighten(main-grey-color,15)
				em
					font-style italic
					font-size 16px

p.message
	font-size 12px
	color main-grey-color
	i.icon
		margin-right 3px

a.async
	text-decoration none
	padding 0 5px
	i.icon
		color main-color
	&:hover
		i.icon
			color lighten(main-color,10)

section#mid-content
	background white
	border-radius 5px
	display inline-block
	margin 0 auto
	overflow hidden
	h1
		font-family ostrich
		color main-color
		font-size 34px
		margin 0 0 20px 0

.login-page section#mid-content
	position fixed
	left 50%
	top 50%
	height 270px
	width 615px
	margin-top -(@height / 2)
	margin-left -(@width / 2)

section#login
	float left
	width 265px
	height 220px
	padding 25px
	position relative
	text-align center
	h1
		text-align left
	input:first-child
		margin-bottom 20px
	input
		width 90%
	button
		position absolute
		bottom 25px
		left 50%
		margin-left -90px
	p.message
		margin-top 10px

section#signup
	width 250px
	padding 25px
	background lighten(background-color,2)
	overflow hidden
	p
		font-family opensans
		font-size 15px
		color lighten(main-grey-color,10)
		margin 0 0 20px 0
		line-height 20px
	.button
		display block
		width auto
		text-decoration none

.user-setup-page section#mid-content
	background lighten(background-color,2)
	position fixed
	width 730px
	height 400px
	left 50%
	top 50%
	margin-left -(@width/2)
	margin-top -(@height/2)

	fieldset#account-info
		float left
		width 380px
		padding 25px 25px 70px 25px
		position relative
		overflow hidden
		background white
		h1
			text-align left
		figure
			display block
			width 90px
			height 90px
			padding 0
			margin 0
			float left
			margin 0 17px 0 0
			border 1px solid #DDD
			background background-color
			text-align center
			line-height 110px
			transition all .2s
			.add-image
				cursor pointer
				font-size 38px
				color main-color
				&:hover
					color lighten(main-color,10)
					transition all .2s
		input
			margin-bottom 18px
			width 250px
		textarea
			width 360px
			height 120px
			resize none
		button
			position absolute
			bottom 25px
			left 50%
			margin-left -90px
		p.message
			margin-top 10px

	fieldset#bind-to
		width 250px
		padding 25px
		overflow hidden
		input[type=checkbox]
			vertical-align middle
			cursor pointer
		label
			font-family marvel
			font-size 15px
			color lighten(main-grey-color,10)
			margin 0 0 20px 0
			line-height 20px
			vertical-align middle
		a
			display block
			width auto
			text-decoration none
			font-size 21px
			margin-bottom 20px
			font-family opensans
			font-weight 300
			letter-spacing -2px
			transition all .2s
			i.icon
				margin 0 10px 0 0
				font-size 26px
				vertical-align middle
			&.facebook
				color facebook-color
			&.twitter
				color twitter-color
			&.google
				color google-color
			&:hover
				opacity 0.7
				transition all .2s

	fieldset#action
		position absolute
		bottom 0
		background darken(background-color,1)
		padding 10px
		left 0
		right 0
		text-align center
		&:before
			content ''
			display block
			width 100%
			height 30px
			triangles(darken(background-color,1),18px)
			position absolute
			top -18px
			left 0
aside#search
	position absolute
	right 25px
	top 25px
	input
		font-size 13px
		color darken(background-color,30)
		background none
		border-radius 0
		box-shadow none
		width 120px
		vertical-align middle
		padding 10px
		margin 0
	i.icon
		font-size 18px
		color main-color
		vertical-align -2px
header#right-header
	aside#search
		top 15px
		right 15px
section#left-content
	padding 25px 25px 10px 25px
	overflow-x hidden
	overflow-y hidden
	position absolute
	top 80px
	left 0
	right 0
	bottom 0
	.mCSB_container
		aside#search
			right 0
			top 0
	h1
		font-family ostrich
		font-size 46px
		color main-color
		a
			font-size 18px
			text-decoration none
			vertical-align middle
			padding 0 0 0 5px
			&:hover
				color lighten(main-color,10)

.articles-add-page section#left-content, .articles-edit-page section#left-content
	textarea
		left 25px
		right 25px
		top 25px
		bottom 60px
		position absolute
		visibility hidden
	.wysiwyg
		position absolute
		top 25px;
		bottom 0px
		left 25px
		right 25px
		div.toolbar-wrap 
			position relative
			z-index 100
			background light-grey-color
			border-top-left-radius 5px
			border-top-right-radius 5px
			box-shadow inset 0 2px 0px darken(light-grey-color,10)
		iframe
			position absolute
			left 0
			top 30px
			right 0
			bottom 30px
			z-index 90
			height 95%
		textarea
			position relative
			width 100%
			height 100%
			top 0
			left 0
			right 0
			bottom 30px
	fieldset#hidden
		display none
	fieldset#action
		position absolute
		z-index 150
		bottom 0
		background rgba(220,220,220,0.6)
		padding 10px
		left 0
		right 0
		text-align center
		&:before
			content ''
			display block
			width 100%
			height 20px
			triangles(rgba(220,220,220,0.6),18px)
			position absolute
			top -18px
			left 0
.articles-index-page section#left-content
	div#list-content
		position absolute
		top 70px
		bottom 10px
		left 20px
		right 10px
		ul
			padding 5px 10px 0 0
			li
				background lighten(background-color,2)
				box-shadow 0 -2px 0px darken(background-color,10)
				padding 10px
				border-radius 5px
				overflow hidden
				position relative
				p.published
					position absolute
					right 20px
					top 50%
					margin-top -10px
					em
						font-style italic
						font-family marvel
						font-size 16px
						color darken(background-color,20)
						vertical-align middle
					i.icon
						color green-color
						font-size 20px
						vertical-align middle
				span.action
					cursor pointer
					position absolute
					left 10px
					top 50%
					margin-top -17px
					display inline-block
					width 45px
					text-align center
					color darken(background-color,5)
					font-size 32px
					&:hover
						color darken(background-color,10)
					i.icon.chevron-right
						display none
					&.active
						cursor default
						color main-color
						border none
						padding 0
						i.icon.eye-open
							display none
						i.icon.chevron-right
							display block
				span.button
					position absolute
					right 20px
					top 50%
					margin-top -17px
					width 150px
				article
					margin 0 0 0 50px
					h2
						font-size 20px
						font-weight 300
						font-family opensans
						a
							color  main-color
					a
						text-decoration none
						vertical-align middle
					p
						color main-grey-color
						font-size 16px
						font-family marvel
						margin 10px 0
						vertical-align middle
						i.icon
							vertical-align baseline
						a, .link
							vertical-align baseline
							cursor pointer
							color main-grey-color
							&:hover
								color lighten(main-grey-color,20)
						.tags + a
							color main-color
							&:hover
								text-decoration underline
				&.active
					background white
			p.no-entries
				font-size 18px
				text-align center
				font-family marvel
				color lighten(main-grey-color,20)

section#left
	position fixed
	left 0
	right 40%
	bottom 0
	top 0
	overflow hidden

.user-setup-page section#right, .login-page section#right
	display none

section#right
	background white
	position fixed
	top 0
	right 0
	left 60%
	box-shadow -5px 0 5px darken(background-color,5)
	bottom 0
	overflow hidden
	section#right-content
		position absolute
		bottom 0
		left 0
		right 0
		top 72px
		overflow-x hidden
		overflow-y hidden
		padding 10px 10px 10px 20px
	h1
		font-family ostrich
		color main-color
		font-size 32px
		padding 20px
		margin 0
		i.icon
			font-size 13px
			vertical-align middle
	h2
		font-size 16px
		color main-grey-color
		font-family opensans
	h3
		font-size 14px
		color main-grey-color
		font-family opensans

ul#metrics-info
	display inline-block
	vertical-align top
	width 50%
	li.block
		display inline-block
		vertical-align top
		h3
			margin 10px 0 10px 0
		ul
			li
				display inline-block

section#comments
	width 50%
	vertical-align top
	display inline-block
	h3
		margin 10px 0 10px 0
	ul
		li
			display block
			overflow hidden
			padding 0 0 10px 0
			margin 0 0 10px 0
			border-bottom 1px solid darken(background-color,5)
			span.image.example
				margin 0 10px
				display inline-block
				float left
			article
				overflow hidden
				display block
				h4
					font-size 13px
					font-family opensans
					color main-color
					display inline-block
					margin 0 5px 5px 0
				i.icon
					color lighten(main-grey-color,10)
				p
					font-size 12px
					color main-grey-color
					margin 3px 0

span.image.example
	display block
	width 32px
	height 32px
	background main-grey-color

fieldset#hidden
	position fixed
	left 50%
	top 50%
	width 300px
	height 200px
	background white
	border-radius 3px
	padding 20px
	margin-top -120px
	margin-left -180px
	z-index 999

aside#add-feed
	display none
	background main-color
	padding 45px 8px 8px 8px
	position absolute
	top 60px
	left 0
	right 0
	border-radius 3px
	z-index 200
	&:before
		display block
		content ''
		width 20px
		height 20px
		position absolute
		background main-color
		transform rotate(45deg)
		border-radius 3px
		left 134px
		top -4px
	input
		position absolute
		top 8px
		left 8px
		right 8px
		border-radius 2px
		box-shadow none
		margin 0
	i.icon.search
		position absolute
		right 20px
		top 20px
		color main-color
		font-size 14px
	ul
		background background-color
		border-bottom-left-radius 2px
		border-bottom-right-radius 2px
		li
			padding 10px
			p.no-entries
				font-family opensans
				font-size 13px
				color main-grey-color
				text-align center
