@import 'nib'
@import 'nib/gradients'

global-reset()

main-color = #8a25cd
main-grey-color = #555
background-color = #e9e9e9
side-font-color = #1d1d1d
green-color = #4adb76
red-color = #e7635e
facebook-color = #3a5a93
twitter-color = #18aacf
google-plus-color = #1f1f1f
marvel = 'Marvel', sans-serif
opensans = 'Open Sans', sans-serif
ostrich = 'ostrich_sans_roundedmedium', sans-serif
iconfont = 'FontAwesome', "Open Sans", sans-serif

@import fonts

@import icons

@import buttons

body
	font-size 62.5%
	font-family "Arial","sans-serif"
	margin 0
	padding 0
	background url("../img/watermark.png") center center no-repeat background-color

header#left-header
	h1#logo
		background: url('../img/logo.png') left top no-repeat
		display inline-block
		width 178px
		height 60px
		text-indent -500px
		overflow hidden