!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
	include ../includes/head
	body(class=pageName+"-page")
		if (typeof errors !== 'undefined')
				aside#messages
					a.close(data-dismiss="alert", href="javascript:void(0)") x
					ul
						each error in errors
							li= error.type


		section#left
			include ../includes/left.jade
			section#left-content
				block left-content

		section#mid
			section#mid-content
				block mid-content

		section#right
			include ../includes/right.jade
			section#right-content
				block right-content

		include ../includes/foot
